@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* Register Component Styles */
#register-container {
    background-color: #f4f5f7;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .register-header {
        .register-logo {
            /* Styles for the logo in the register header */
            font-size: 24px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 20px;
            cursor: pointer;
        }
    }

    #register-form {
        width: 340px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;

        .register-input-group {
            margin-bottom: 12px;

            label {
                display: block;
                margin-bottom: 5px;
            }

            input[type='text'],
            input[type='email'],
            input[type='password'] {
                width: 100%;
                padding: 10px;
                border: 1px solid #d2d6dc;
                border-radius: 4px;
                font-size: 16px;
                transition: border 0.3s;
            }

            input[type='text']:focus,
            input[type='email']:focus,
            input[type='password']:focus {
                border-color: #a0aec0;
            }
        }

        .register-button-container {
            .register-button {
                /* Styles for the register button */
                display: block;
                width: 100%;
                padding: 10px;
                background-color: #ff9500;
                color: white;
                border: none;
                border-radius: 4px;
                font-size: 16px;
                transition: background-color 0.3s;
                cursor: pointer;

                &:hover {
                    background-color: #ff7f00;
                }
            }
        }
    }
}
