/* styles.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.board {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 300px;
  margin-bottom: 20px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.card-header {
  background-color: #0056b3;
  color: #fff;
  padding: 15px 20px;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  padding: 15px;
  font-size: 0.9em;
}

.card-footer {
  background-color: #f7f7f7;
  padding: 10px 15px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ddd;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

ul li input[type="checkbox"] {
  margin-right: 10px;
}

.add-card, .delete-card, .pomodoro, .eisenhower {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-card {
  background-color: #dc3545;
}

.eisenhower {
  background-color: #28a745;
}

.add-card:hover, .delete-card:hover, .pomodoro:hover, .eisenhower:hover {
  background-color: #0056b3;
}

.delete-card:hover {
  background-color: #c82333;
}

.eisenhower:hover {
  background-color: #218838;
}

/* Date styles */
.card-header div {
  font-size: 0.8em;
  font-weight: normal;
}

/* Button styles */
button {
  margin-top: 10px;
}

/* styles.css */
/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000; /* High z-index to be on top */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal styles */
.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1001; /* Above the overlay */
  display: flex;
  flex-direction: column;
}

/* Form styles */
.modal form {
  display: flex;
  flex-direction: column;
}

.modal input[type="text"],
.modal textarea {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

.modal input[type="text"] {
  margin-bottom: 0; /* Only the textarea will have margin at the bottom */
}

/* Button styles */
.modal button {
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal button[type="submit"] {
  background-color: #4CAF50;
  color: white;
}

.modal button[type="button"] {
  background-color: #f44336;
  color: white;
}

/* This will hide the placeholder text when the input is focused */
.modal input:focus::placeholder,
.modal textarea:focus::placeholder {
  color: transparent;
}
